<a href="https://colab.research.google.com/github/juliant117/NSW_mla/blob/lineal-regression/assesst_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%capture
!pip install mlflow
!pip install pyngrok

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mlflow
import subprocess
from pyngrok import ngrok, conf
import getpass
import json

MLFLOW set up

In [3]:
MLFLOW_TRACKING_URI = "sqlite:///mlflow.db"
subprocess.Popen(["mlflow", "ui", "--backend-store-uri", MLFLOW_TRACKING_URI])
mlflow.set_tracking_uri(MLFLOW_TRACKING_URI)

In [4]:
ngrok.kill()

In [5]:
print("Enter your authtoken, which can be copied from https://dashboard.ngrok.com/auth")
conf.get_default().auth_token = getpass.getpass()
port=5000
public_url = ngrok.connect(port).public_url
print(f' * ngrok tunnel \"{public_url}\" -> \"http://127.0.0.1:{port}\"')

Enter your authtoken, which can be copied from https://dashboard.ngrok.com/auth
··········
 * ngrok tunnel "https://8160-34-125-198-190.ngrok-free.app" -> "http://127.0.0.1:5000"

Read the data

In [6]:
data = pd.read_csv('/content/bank-additional-full.csv', na_values='?')

<ipython-input-6-f4c883426d02>:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,14,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/bank-additional-full.csv', na_values='?')

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column                                                                                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                                                                                     --------------  -----
 0   age;job;marital;education;default;housing;loan;contact;month;day_of_week;duration;campaign;pdays;previous;poutcome;emp.var.rate;cons.price.idx;cons.conf.idx;euribor3m;nr.employed;y;;age  41188 non-null  object
 1   job                                                                                                                                                                                        3004 non-null   object
 2   marital                                                                                                                                                                                    3004 non-null   object
 3   education                                                                                                                                                                                  3004 non-null   object
 4   default                                                                                                                                                                                    3004 non-null   object
 5   housing                                                                                                                                                                                    3004 non-null   object
 6   loan                                                                                                                                                                                       3004 non-null   object
 7   contact                                                                                                                                                                                    3004 non-null   object
 8   month                                                                                                                                                                                      3004 non-null   object
 9   day_of_week                                                                                                                                                                                3004 non-null   object
 10  duration                                                                                                                                                                                   3004 non-null   float64
 11  campaign                                                                                                                                                                                   3004 non-null   float64
 12  pdays                                                                                                                                                                                      3004 non-null   float64
 13  previous                                                                                                                                                                                   3004 non-null   float64
 14  poutcome                                                                                                                                                                                   3004 non-null   object
 15  emp.var.rate                                                                                                                                                                               3004 non-null   float64
 16  cons.price.idx                                                                                                                                                                             3004 non-null   float64
 17  cons.conf.idx                                                                                                                                                                              3004 non-null   float64
 18  euribor3m                                                                                                                                                                                  3004 non-null   float64
 19  nr.employed                                                                                                                                                                                3004 non-null   float64
 20  y                                                                                                                                                                                          3004 non-null   object
dtypes: float64(9), object(12)
memory usage: 6.6+ MB
None

In [8]:
data = pd.read_csv('/content/bank-additional-full-f.csv', na_values='?')

In [9]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

In [10]:
print(data.head())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0         93994.0          -36.4     4857.0       5191.0  no
1         93994.0          -36.4     4857.0       5191.0  no
2         93994.0          -36.4     4857.0       5191.0  no
3         93994.0          -36.4     4857.0       5191.0  no
4         93994.0          -36.4     4857.0       5191.0  no

[5 rows x 21 columns]

In [11]:
len(data.index)

41188

In [12]:
data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,85401.579955,-40.502600,3180.107207,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,26471.506796,4.628198,2086.690436,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,93.200000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,92893.000000,-42.700000,1281.000000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93749.000000,-41.800000,4856.000000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93994.000000,-36.400000,4961.000000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94767.000000,-26.900000,5045.000000,5228.100000

In [13]:
print((data.isnull()).sum())

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [14]:
data.eq(0).sum()

age                   0
job                   0
marital               0
education             0
default               0
housing               0
loan                  0
contact               0
month                 0
day_of_week           0
duration              4
campaign              0
pdays                15
previous          35563
poutcome              0
emp.var.rate          0
cons.price.idx        0
cons.conf.idx         0
euribor3m             0
nr.employed           0
y                     0
dtype: int64

In [15]:
data.eq("unknown").sum()

age                  0
job                330
marital             80
education         1731
default           8597
housing            990
loan               990
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

save data

In [16]:
mlflow.set_tracking_uri(MLFLOW_TRACKING_URI)
mlflow.set_experiment("mlflow-ML-project_1")

2024/10/30 17:03:57 INFO mlflow.tracking.fluent: Experiment with name 'mlflow-ML-project_1' does not exist. Creating a new experiment.

In [17]:
"""with mlflow.start_run(run_name="Data Preprocessing") as run:
  mlflow.log_artifact('/content/bank-additional-full-f.csv', artifact_path="data_base")
  mlflow.log_artifact('/content/unknown_counts.json', artifact_path="unknown")
"""

'with mlflow.start_run(run_name="Data Preprocessing") as run:\n  mlflow.log_artifact(\'/content/bank-additional-full-f.csv\', artifact_path="data_base")\n  mlflow.log_artifact(\'/content/unknown_counts.json\', artifact_path="unknown")\n'